.tweet {
  background-color: #f2f2f2;
  margin: 2em;
  padding: 2em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(148, 148, 148, 0.33);
  -moz-box-shadow: 0px 0px 13px 1px rgba(148, 148, 148, 0.33);
  box-shadow: 0px 0px 13px 1px rgba(148, 148, 148, 0.33);
}

.row {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: gray;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 1em;
}

.user {
  font-weight: bold;
  font-size: 20px;
}

.username {
  font-size: 14px;
  margin-top: -1em;
  color: gray;
}

.tweetcontent {
  margin-left: 4em;
}
