* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leftSidebar {
  display: none;
}

.content {
  width: 100%;
  border: 1px solid #fafafa;
}

.content h1 {
  padding: 0.2em;
  padding-left: 0.5em;
  font-size: 18px;
}

.rightSidebar {
  display: none;
  border: 1px solid #fafafa;
}

@media only screen and (min-width: 1100px) {
  .container {
    padding: 1em;
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-wrap: wrap;
  }

  .leftSidebar {
    width: 15%;
    display: block;
    padding-top: 5em;
  }

  .content {
    width: 40%;
  }

  .rightSidebar {
    width: 20%;
    display: block;
    padding: 1em;
    padding-top: 5em;
  }

  .menuitem {
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 22px;
    font-weight: bold;
    color: #484c50;
  }
  .menuitem:hover {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 5em;
  }
  .menuitem p {
    color: gray;
    font-size: 20px;
  }
  .menuitem mat-icon {
    color: #1da1f2;
  }

  .trends {
    background-color: #f7f9fa;
    border-radius: 0.5em;
    margin-bottom: 5em;
  }
  .trends li {
    border-bottom: 1px solid lightgray;
  }
  .trends h3 {
    padding: 1em;
  }
  .trends p {
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 14px;
  }

  .recommendeduser {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding-left: 1em;
    font-size: 14px;
  }

  .recommended h3 {
    padding: 1em;
  }
  .avatar {
    background-color: gray;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
  }
}
